/* Write your CSS here */
.app-con {
  background-image: linear-gradient(to bottom, #fff1eb, #ace0f9);
  display: flex;
  flex-direction: column;

  align-items: center;
  padding: 20px;
  height: 150vh;
}
.main-head {
  font-size: 30px;
  font-family: Bree Serif;
  color: #1e293b;
}
.search-styling {
  background-color: transparent;
  border-radius: 5px;
  border-style: none;
  border: 0px;
  color: #7b8794;
  outline: none;
}
.search-con {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30%;
  border-style: solid;
  border-color: #7b8794;
  border-radius: 5px;
  padding: 8px;
}
.search-icon {
  height: 20px;
  width: 20px;
}
.tab-con {
  display: flex;
  flex-direction: row;
}
.all-apps-con {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin-left: 12%;
}
